
<div id="modalAniversariante" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="titulo-evento" id="paciente-aniversariante"></span></h4>
            </div>
            <div class="modal-body modal-lg">
                <input type="hidden" id="idCliente" />
                <p><label class="control-label">Aniversário: <br /> </label><span class="texto-evento" id="data-aniversario"></span></p>
                <p><label class="control-label">Telefone Fixo: </label><span class="texto-evento" id="tel-fixo-aniversario"></span></p>
                <p><label class="control-label">Telefone Celular: </label><span class="texto-evento" id="tel-celular-aniversario"></span></p>
            </div>

            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>