<div class="col-xs-12 col-md-12 col-sm-12 formulario-topo">
    <p class="listagem-titulo">Presença</p>
</div>


<div class="col-xs-12 col-md-12 col-sm-12 formulario-conteudo">
    <div class="col-xs-12 col-md-12 col-sm-12">

        <div class="row col-xs-12 col-md-12 col-sm-12">
            <div class="form-group col-xs-9 col-md-9 col-sm-9">
                <label class="control-label">Selecione um cliente:</label>
                <select class="form-control" name="CodigoCliente" id="CodigoClientePesquisaPresenca">
                    <option value=""></option>
                    @foreach (var item in ViewBag.ListaClientes)
                {
                    <option value="@item.Value">@item.Text</option>
            }
                </select>
            </div>
            <div class="form-group col-xs-3 col-md-3 col-sm-3 botao-pesquisar">
                <a class="form-control btn botao-acao" onclick="presenca.pesquisarPresencas();" name="PesquisarEspecialidades">Pesquisar</a>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-sm-12 hidden" id="groupPresencaCliente">
            
            <div class="col-xs-12 col-md-12 col-sm-12">
                <table class="table table-striped hover" id="PresencaCliente" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Profissional
                            </th>
                            <th>
                                Especialidade
                            </th>
                            <th>
                                Início
                            </th>
                            <th>
                                Fim
                            </th>
                            <th>
                                Presença
                            </th>
                            <th></th>
                            <th class="hidden">Codigo Agenda</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>


    </div>

</div>

@Html.Partial("~/Views/Presenca/_ModalIndicarPresenca.cshtml")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}